<app-login></app-login>
<h1>property Data binding Angular</h1>
<input type="text" [disabled]="disabledBox" [value]=name /> <br><br>
<!-- intreropolation -->
<input type="text" disabled={{disabledBox}} value={{name}} /> <br><br> 


<button (click)="enableBox()">Enable user</button>






















<!-- <input type="text" #box>

<button (click)="getVal(box.value)">Get Value</button>
<h1>{{currentVal}}</h1> -->











<!-- <button type="submit" (click)="getName(name)">Get Name</button><br><br> -->


<!-- <input type="text" #box (keyup)="getEvent(box.value)"><br><br>
<input type="text" #box (keydown)="getEvent(box.value)"><br><br> -->

<!-- <input type="text" #box (blur)="getEvent(box.value)"><br><br> -->

<!-- <div #box (mouseover)="getEvent('div color')"
style="background-color: aqua; height: 200px;">

</div> -->

<app-signup></app-signup>

















<!-- <h1>Hello World</h1>
<h1>{{title}}</h1>
<h3>{{name}}</h3>
<h2>{{getName()}}</h2>
<h1>{{obj.age}}</h1>
<h1>{{arr.length}}</h1>
<h1>{{a+b}}</h1>
<h1>{{siteUrl}}</h1>
<app-user-list></app-user-list> -->

